@charset "UTF-8";
/* CSS Document */
html {
    background-color: #FCFCFC;
    background-repeat: no-repeat;
    /*background-attachment:fixed;*/
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(top, #F7F7F7 0%, #D0D5EF 100%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #F7F7F7 0%, #D0D5EF 100%);

    /* Opera */
    background-image: -o-linear-gradient(top, #F7F7F7 0%, #D0D5EF 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F7F7F7), color-stop(1, #D0D5EF));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #F7F7F7 0%, #D0D5EF 100%);

    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom, #F7F7F7 0%, #D0D5EF 100%);

    height: auto;
    padding-bottom: 25px;
}

body {
    margin: 0 auto;
    padding: 2em;
    max-width: 800px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    color: #333333;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.3em;
}

/* styling inputs*/
input.vecClass {
    border: 1px solid #665544;
    width: 32px;
    text-align: center;
    margin: 0;
}

/* adds borderimage in matrix style to class */
.matrixDecor {
   border-width: 10px 10px;
   border-image: url("img/matrixborderimage.png") 36 31 round;
    padding: 0px;
    /*background-color: #f0f035;
    background-clip: content-box;*/
    border-spacing: 10px;
}


.matrixDecor input {
    width: 40px;
    height: 18px;
    border-radius: 4px;
    border-width: 1px;
    border-color: #dddddd;
    border-style: solid;
    text-align: center;
}
.matrixDecor input:hover, input:active, input:focus {

    border-radius: 4px;
    border-width: 1px;
    border-color: #47aaca;
    border-style: solid;
    box-shadow: 0px 0px 8px 0px #47aaca;
    background-color: #d3e9eb;
}

.buttonDecor {
    border-radius: 6px;
    border-width: 1px;
    border-color: #999999;
    border-style: solid;
    background-color: #ececec;
    width: 80px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    margin: 10px;
    font-weight: bold;
}

.buttonDecor:hover {
    border-color: #47aaca;
    border-style: solid;
    box-shadow: 0px 0px 8px 0px #47aaca;
    background-color: #d3e9eb;
}
.nopadding {
    padding: 0;
    margin: 0;
    background-color: #800020;
}

.m_1x1 {
    background-image: url("img/1xn_l.png"), url("img/1xn_r.png");
    background-position: left, right;
    padding: 8px;
    background-size: cover;
    font: 16px;
}

.m_nxn {
 background:    url("img/nxn_tl.png") no-repeat left top ,
                url("img/nxn_bl.png") no-repeat left bottom;
}