@charset "UTF-8";

html {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
}

section#main {
    margin: 0 auto;
    padding: 2em;
    max-width: 800px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    color: #333333;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    text-align: center;
}

header {
    margin: 0;
    padding: 0;
    background-color: #47aaca;
    width: 100%;
    height: 150px;
    overflow: hidden;

    /* made by http://www.colorzilla.com/gradient-editor/*/
    background: #26a3c9;
    background: -moz-linear-gradient(top,  #26a3c9 0%, #addfed 100%, #7db9e8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#26a3c9), color-stop(100%,#addfed), color-stop(100%,#7db9e8));
    background: -webkit-linear-gradient(top,  #26a3c9 0%,#addfed 100%,#7db9e8 100%);
    background: -o-linear-gradient(top,  #26a3c9 0%,#addfed 100%,#7db9e8 100%);
    background: -ms-linear-gradient(top,  #26a3c9 0%,#addfed 100%,#7db9e8 100%);
    background: linear-gradient(to bottom,  #26a3c9 0%,#addfed 100%,#7db9e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26a3c9', endColorstr='#7db9e8',GradientType=0 );

}
header h1 {
    display: block;
    margin: 0;
    padding: 0;
}
.centerit {
    display: table;
    width: 50%;
    height: 150px;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
}

/* for the heading do design here */
.centerit p {
    display: table-cell;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    color: #ffffff;
    font-size: 32px;
}


footer {
    margin: auto;
    padding: 0;
    padding-top: 20px;
    background-color: #47aaca;
    width: 100%;
    height: 50px;
    text-align: center;
    color: #ffffff;
    font-size: 10px;

    background: #7db9e8;
    background: -moz-linear-gradient(top,  #7db9e8 0%, #addfed 0%, #26a3c9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(0%,#addfed), color-stop(100%,#26a3c9));
    background: -webkit-linear-gradient(top,  #7db9e8 0%,#addfed 0%,#26a3c9 100%);
    background: -o-linear-gradient(top,  #7db9e8 0%,#addfed 0%,#26a3c9 100%);
    background: -ms-linear-gradient(top,  #7db9e8 0%,#addfed 0%,#26a3c9 100%);
    background: linear-gradient(to bottom,  #7db9e8 0%,#addfed 0%,#26a3c9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#26a3c9',GradientType=0 );



}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.3em;
}

/* styling inputs*/
input.vecClass {
    border: 1px solid #665544;
    width: 32px;
    text-align: center;
    margin: 0;
}

/* adds borderimage in matrix style to class */
.matrixDecor {
   border-width: 9px 9px;
   border-image: url("img/matrixborderimage.png") 36 31 round;
    padding: 0px;
    /*background-color: #f0f035;
    background-clip: content-box;*/
    border-spacing: 10px;
}


.matrixDecor input {
    width: 40px;
    height: 18px;
    border-radius: 4px;
    border-width: 1px;
    border-color: #dddddd;
    border-style: solid;
    text-align: center;
}
.matrixDecor input:hover, input:active, input:focus {

    border-radius: 4px;
    border-width: 1px;
    border-color: #47aaca;
    border-style: solid;
    box-shadow: 0px 0px 8px 0px #47aaca;
    background-color: #d3e9eb;
}

.buttonDecor {
    border-radius: 6px;
    border-width: 1px;
    border-color: #d0d0d0;
    border-style: solid;
    background-color: #f8f8f8;
    width: 80px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    margin: 10px;
    margin-bottom: 0px; /*hard coded correction for hr margin*/
    font-weight: bold;
}

.buttonDecor:hover {
    border-color: #47aaca;
    border-style: solid;
    box-shadow: 0px 0px 8px 0px #47aaca;
    background-color: #d3e9eb;
}
.nopadding {
    padding: 0;
    margin: 0;
    background-color: #800020;
}

.m_1x1 {
    background-image: url("img/1xn_l.png"), url("img/1xn_r.png");
    background-position: left, right;
    padding: 8px;
    background-size: cover;
    font: 16px;
}

.m_nxn {
 background:    url("img/nxn_tl.png") no-repeat left top ,
                url("img/nxn_bl.png") no-repeat left bottom;
}

.horzSpace {
    margin-top: 10px;
    margin-bottom: 10px;
}

.separator hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #dddddd;
    padding: 0;
margin-right: auto;
margin-left: auto;
margin-top: 20px;
margin-bottom: 20px}

.roundDecor {
    display: block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: #fefefe;
    border-width: 1px;
    border-color: #d0d0d0;
    color: #969696;
    border-style: solid;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
}

.roundRectDecor {
    display: block;
    width: 100%;
    border-radius: 6px;
    background: #fff2e6;
    border-width: 1px;
    border-color: #ffbd80;
    border-style: solid;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    padding: 10px;
}

.solution {
    width: 33%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    padding: 20px;
    display: block;
    text-align: center;
    vertical-align: middle;
    background: #d3e9eb;
    border-width: 1px;
    border-color: #47aaca;
    border-style: solid;
}

.errSpace {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    padding: 10px;
    display: block;
    text-align: center;
    vertical-align: middle;
    background: #ffd1d5;
    border-width: 1px;
    border-color: #ca555e;
    border-style: solid;
}

.errSpace hr {
    display: block; height: 1px;
    border: 0; border-top: 1px solid #ca555e;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px
}
.errSpace ul {
    text-indent: 0;
    text-align: center;
}